<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<title>検索結果のページ2</title>
</head>
<body>

<p>検索結果のテストページ2</p>

<p>
Body = "<%= @msg %>"の検索結果を表示
</p>

<table border="1">
  <thead>
    <tr>
      <th>Name</th>
      <th>Body</th>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @pickup.each do |p| %>
      <tr>
        <td><%= p.name %></td>
　　　　　　　　<td><input type="text" style="width: 200px;" readonly="readonly" value="<%= p.body %>" /></td>
<!--クリック時にテキストボックスを全選択する(11/11)-->
<!--　　　　　　　　<td><input type="text" style="width: 200px;" onclick="this.select(0,this.value.length)" readonly="readonly" value="<%= p.body %>" /></td>-->
<!--元々のコード(11/11)-->
<!--        <td><%= p.body %></td>-->
        <td><%= p.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</body>
</html>
